:root {
    --primaryColor: #68217a;
    --secondaryColor: #f4f4f4;
    --bgMenuActive: #8e47a0;
    --bgButton: #68217a;
    --logoImageUrl: url('https://www.ssw.com.au/ssw/logo/ssw/images/ssw-logo.png');
    --bgAside: var(--primaryColor);
}
