:root {
--primaryColor: #666666;
--secondaryColor: #cc4141;
--dangerColor: #CC4141;
--warningColor: #F7941D;
--successColor: #8DC63F;
    --bgMenuActive: #666666;
    --bgButton: #333333;
    --logoImageUrl: url('https://www.ssw.com.au/ssw/logo/ssw/images/ssw-logo.png');
    --bgAside: var(--primaryColor);
}
