@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about:</p>
    <ul>
        <li><a href="https://docs.microsoft.com/aspnet/core">Building Web apps with ASP.NET Core</a></li>
        <li><a href="https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks">Additional ASP.NET Core Health Check packages</a></li>
        <li><a href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/monitor-app-health">Health monitoring</a></li>
    </ul>
</div>
